{% extends "base.html" %}
{% block title %}Aiden Gonzalez: Contact{% endblock %}
{% block content %}
<div class="contact-image"></div>
<div id="contact-container">
    <a id="contact-linkedin" href="https://www.linkedin.com/in/aiden-gonzalez-712a26170/">
        <img id="linkedin-logo" src="/static/images/linkedin.png" alt="LinkedIn Logo">
    </a>
    <a id="contact-github" href="https://github.com/awesomeaiden">
        <img id="github-logo" src="/static/images/github.svg" alt="GitHub Logo">
    </a>
    <a id="contact-email" href="mailto:aidenlgonzalez2@gmail.com">
        <img id="email-logo" src="/static/images/email.png" alt="Email Logo">
    </a>
</div>
{% endblock %}