{% extends "base.html" %}
{% block title %}Aiden Gonzalez{% endblock %}
{% block content %}
<div class="jumbotron" id="home-jumbotron">
    <div class="bg-image"></div>
    <div class="container">
        <h1 class="display-3">Aiden Gonzalez</h1>
        <p style="font-size: 20px">Purdue University Computer Engineering Class of 2022</p>
    </div>
</div>
<!--<hr class="featurette-divider">-->
<div class="container_home" id="home-container">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}